## Homework 1

In [2]:
import numpy as np
import pandas as pd

### Q1

In [3]:
np.__version__

'1.21.5'

Numpy version is `1.21.5`

### Q2

In [4]:
df = pd.read_csv("data.csv")

In [8]:
df.shape

(11914, 16)

The number of rows is `11914`

### Q3

In [13]:
df.head

<bound method NDFrame.head of           Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]>

In [30]:
df.groupby("Make").size().reset_index(name='obs').sort_values(['obs'], ascending=False).head(3)

          Make   obs
9    Chevrolet  1123
14        Ford   881
46  Volkswagen   809

The most frequent car manufacturers are `Chevrolet`, `Ford`, and `Volkwagen`

### Q4

In [31]:
df[df.Make=="Audi"].Model.nunique()

34

The number of unique Audi car models is `34`

### Q5

In [47]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders        0
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

There are `5` columns with missing values

In [33]:
len([col for col in df.columns if df[col].isnull().any()])

5

### Q6

In [40]:
df["Engine Cylinders"].median()

6.0

In [41]:
df["Engine Cylinders"].mean()

5.628828677213059

In [43]:
df["Engine Cylinders"].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [44]:
df["Engine Cylinders"].fillna(4.0, inplace=True)

In [45]:
df["Engine Cylinders"].median()

6.0

In [46]:
df["Engine Cylinders"].mean()

5.624727211683734

1. Median: `6.0`
2. Mode: `4.0`
4. Median: `6.0`. The median has not changed.

### Q7

In [48]:
df_lotus = df[df["Make"] == "Lotus"][["Engine HP", "Engine Cylinders"]].drop_duplicates()

In [49]:
df_lotus

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [50]:
X = df_lotus.to_numpy()

In [62]:
XTX = X.T.dot(X)

In [63]:
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [64]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [67]:
w = np.linalg.inv(XTX).dot(X.T).dot(y)
w

array([  4.59494481, -63.56432501])

The first element of `w` is `4.5949`.